COCO/
*.txt
*.pth
*.json
ADEK/
Cityscapes/
cocoapi/
cityscapes/
ADE20K/
city_semantic.py
city_instance.py
ade_semantic.py
ade_instance.py
vit.py
test.ipynbs
ade*.py
results/
test/
cocoapi/
detectron2/
Mask2Former/
mmsegmentation/
*.png
*.pdf
appendix.ipynb
plot.ipynb
small_img.py
ablation.py
checkpoint.pth
